<!--

/* >>>>> Page Styles <<<<< */

html, body {margin: 0; padding: 0; font-size: 100%;}

body {
  	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  	font-size: 10pt;
	color: #000;
        background: transparent;}

#pagetitle {
	margin: 0px;
	margin-left:110px;
	padding: 10px 0 0 0;
	text-align: left;
	font-size: 210%;
	color: #000; }

pre {
	margin: 0 0 0 10px;
	padding-top: 8px;
	font-family: Verdana, sans-serif;
	font-size: 95%;
	font-weight: normal; }

p {margin: 0; padding: 8px 7px 0 10px; }

hr2 {
    width: 80%; 
    height: 1px;
    background-color: black;}

#contents p {font-weight: bold; }

.altcolor {color: #eef7e2; font-weight: bold; }

.altcolor2 {color: #cde7a8; }

.altcolor3 { color: #771464; font-weight: bold; }

#slogan {
	border: 1px solid black;
	background: #B38F00;
	color: white;
	margin: 8px 10px 5px 10px;
	padding: 0 5px 5px 0;
	position: relative;} /*** for IE6 ***/	

#textbox{
	border: 1px solid #000000;
        background-color: tranparent;
	color: #000;
	margin: 8px 10px 5px 10px;
	padding: 5px;
	position: relative; } /*** for IE6 ***/

#textbox2{
	border: 1px solid #000000;
        background-color: transparent;
	color: #000;
	margin: 8px 10px 5px 10px;
	padding: 5px;
	position: relative; } /*** for IE6 ***/

#textbox2nb{
	border: 0px solid #000000;
        background-color: transparent;
	color: #000;
	margin: 8px 10px 5px 10px;
	padding: 5px;
	position: relative; } /*** for IE6 ***/
  
	
a:link {color: #000; text-decoration: underline; padding: 1px; }

a:visited {color: #000; text-decoration: underline; padding: 1px; }

a:hover {color: #000; background: #BFAC60; text-decoration: underline; padding: 1px; }

#leftbox a:link, #leftbox a:visited {color: #000; text-decoration: underline; }
/***
.right a:link strong, .right a:visited strong, .right a:link, .right a:visited {
	color: #000; text-decoration: underline; background: #eef7e2; padding: 1px; }
/*** Redundancy in this selector and the one below allows Op6 to display links properly ***/

.right a:hover strong, .right a:hover {color: #000; background: #BFAC60; padding: 1px; } 
***/

#contents a:link, #contents a:visited {
	color: #000; text-decoration: underline; background: #f4e6ef; padding-top: 0; }

#contents a:hover {color: #f9f; background: #233622; padding-top: 0; }

.strong_text {font-weight: bold;}
	
pre strong {color: #000; }

#contents strong {color:  #f9f; }

#contents pre.altcolor2 strong {color: #cde7a8; }

.alignright  {margin: 0; padding: 1em 10px 2em 0; text-align: right; }

.aligncenter  {margin: 0; padding: 1em 10px 2em 0; text-align: center; }

.small {font-size: .9em; color: #FFFFFF; }

.alignright strong {color: #771464; font-weight: bold; }

.decoration {float: right; margin: 0; padding: 10px 0px 10px 10px; padding-bottom: 10px; position: relative; } /*** for IE6 ***/

.decorationright {float: right; 
                        margin: 0; 
                        padding-left:10px;
                        position: relative; } /*** for IE6 ***/

.decorationleft {float: left; margin: 0;  padding-right: 10px; padding-bottom: 10px; position: relative; } /*** for IE6 ***/

.decorationcenter {display: block;
                          margin-left: auto;
                          margin-right: auto;}

html[xmlns] .decoration {margin: 0 1em 0 0; } /*** Moz put the image too low ***/

.kudos {
	margin-top: 3em; 
	border-top: 3px double #233622; 
	border-bottom: 3px double #233622;
	padding-bottom: 5px; }

.dash {border-top: 1px dashed #233622; margin-top: 1em;  }

#bottom {font-size: 1px; line-height:0; margin:0; padding:0;}

#bottom2 {
	display: none;}

#bottom2 a:link {color: #FFFFFF; text-decoration: underline; padding: 1px; }

#bottom2 a:visited {color: #FFFFFF; text-decoration: underline; padding: 1px; }

#bottom2 a:hover {color: #000; background: #BFAC60; text-decoration: underline; padding: 1px; }


small a:link {color: #FFFFFF; text-decoration: underline; padding: 1px; }

small a:visited {color: #FFFFFF; text-decoration: underline; padding: 1px; }

small a:hover {color: #FFFFFF; background: #BFAC60; text-decoration: underline; padding: 1px; }

/* >>>>> Sidepage extras <<<<< */

h3 {
	font-family: Verdana, sans-serif; 
	font-size: 1.2em; 
        color: #000;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;}

#rightbox h3, .left h3, .right h3 {color: #000;}

#slogan h3 {color: white;}

#textbox h3 {color: #000; font-size: 1.4em; }

h4 {
	font-family: Verdana, sans-serif; 
	font-size: 1.0em; 
	color: #B38F00;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;}


h5 {
	text-align: center;}

ul {
	color: #000;
/*	list-style: none; */
	list-style-position: outside;
	margin: 0;
	padding: 0 1.5em 0 1.5em; } /*** bottom padding instead of margin to avoid Op6 
			"Bottomgap Bug." Please see Big John's explanation of this bug - 
			http://www.positioniseverything.net/op-omnibus/bottomgap.html ***/

#contents ul {color: #cde7a8; font-weight: bold; }

.right ul {padding-right: 5px; }

li {padding: 1px 1px .5em 1px;} 

.liwithspace {padding: 5px; 1px; 5px; 1px;}

.description li {margin: 10px 0 0 0; padding: 0; }


/* *****>>>>> Demo Styles <<<<<***** */

/*** The #header div has a static position and a background image ***/

#header {
	margin: 0;
	padding: 0; 
	border-bottom: 1px solid black;
	background: white;
	min-width: 760px;
	height: 100px; } /*** must be set so the following absolutely positioned divs are 
			    placed correctly on initial load of the page***/ 

#headermovie{
	float: right;
	margin: 0;}
	
#leftbox {
	display: none;}
	
#container {
	margin-left: 0px;
        background-color: transparent;
	margin-top: 10px;
	min-width: 545px;}

#navmenu {
	background-color: #879186;
	border: 1px solid #000;
	border-width: 1px 0;
	padding: 3px 0;
	position: relative; } /*** IE6 needs this to display the div ***/ 

/* Hide from IE5-Mac \*/
* html #navmenu {height: 1%;}
/* end hide *//*** This hack will make IE5-win display the background color for the nav ***/ 

#navmenu ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: Verdana, sans-serif;
	text-align: center;
	line-height: 1.2em; } 

#navmenu ul li {
  	font-weight: bold;
  	display: block;
  	float: left;
  	position: relative; /*** IE6 needs this to display the links ***/
	padding: 1px 0;
	margin: 3px 0;
	width: 10em;  
	border-right: 2px solid #000; }

#navmenu ul li.first {
	margin-left: 0; 
	list-style: none; }

#navmenu ul li.last {
	border-right: none; }

#navmenu a {
	padding: 3px 0;
	color: #000; } 

#navmenu a:hover {
 	color: #eef7e2;
	background: #879186; }

#navclear {
  	display: block;
	clear: both; }

/*** IE5/Mac has trouble with right positioned boxes due to a secret margin. See  
     - http://www.l-c-n.com/IE5tests/right_pos/index.shtml - Philippe Wittenbergh's page 
     for an explanation of this problem and Sam Foster's page for an explanation of the 
     hack used  - http://www.sam-i-am.com/testsuite/css/mac_ie5_hack.html - ***/
 
#rightbox {
	position: absolute;
	right: 16px;
	margin-top: 10px;
	margin-right: -15px;
	width: 185px;
	padding: 5px;
 	border: 1px solid black;
        background-color: #FFF2BF;
	color: #233622;}

/* hide the following from IE5-Mac \*/
#rightbox {
	right: 0;
	margin-right: 3px; }
/* IE5-Mac can see the rest */

#wrapper {
	margin-right: 10px;
	padding-top: 0px; 
        background-color: white;
	min-height: 33em;}

#wrapper2 {
	margin-right: 200px;
	padding-top: 0px; 
        background-color: white;
	min-height: 40em;}

#wrapper3 {
	margin-right: 10px;
	padding-top: 5px; 
        background-color: white;
	min-height: 40em;}

/*** Tan hack for IE. Only IE browsers see this selector.
     This replaces the old Tantek hack. Please see Edwardson Tan's page.
     http://www.info.com.ph/~etan/w3pantheon/style/modifiedsbmh.html ***/

* html #wrapper {
	width: 100%; /*** IE5.5 needs this value to eliminate a horizontal scrollbar ***/
	w\idth: auto; } /*** resets the value for IE6 and IE5-Mac ***/

.left {
	float: left;
	margin-left: 5px;
	/*margin-right: 6px;*/
	width: 47%;
	padding: 5px 5px 5px 0;
/*	background: #c3c8c3;*/
        background: white;}

html>body .left {margin-left: 10px; } /*** IE doubles the margin on the float. This sets
					the margin to the correct width for others ***/
/*html>body .left {margin-right: 10px;}*/

.right {
	float: right;
	margin-right: 5px;
	/*margin-left: 6px;*/
	width: 47%;
	padding: 5px 5px 5px 0;
/*	background: #c3c8c3;*/
        background: white;
}

html>body .right {margin-right: 10px; } /*** IE doubles the margin on the float. This sets
					the margin to the correct width for others ***/

.clear {
	clear: both;
	margin: 0;
	padding: 0; }

#contents {
	background-color: #233622;
	margin: 8px 10px 5px 10px;
	/*margin-right: 149px;
	margin-left: 10px;*/
	color: #eef7e2;
	padding: 3px;
	position: relative; } /*** IE6 needs this to display the div ***/

#footer {
	display: none;
	visibility: hidden;} 

#twocollist ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
 
#twocollist li {
  float: left;
  width: 45%;
  margin: 0;
  padding: .1em;
  list-style-type: none;
}

#fourcollist ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
 
#fourcollist li {
  float: left;
  width: 23%;
  margin: 0;
  padding: .1em;
  list-style-type: none;
}

#nav_categories {
  list-style-type: none;
}

.printhide {
  display:none;
  visibility:hidden;
}


-->